@model List<EntityLayer.Concrete.Destination>
@{
    Layout = null;
}

<!doctype html>
<html lang="zxx">

@await Component.InvokeAsync("HeadPartial")

<body>
    <!--header-->
    @await Component.InvokeAsync("HeaderPartial")
    <!-- //testimonials -->
    <section class="w3l-about-breadcrumb text-left">
        <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
            <div class="container">
                <h2 class="title">Rotalar </h2>
                <ul class="breadcrumbs-custom-path mt-2">
                    <li><a href="/Default/Index/">Ana Sayfa</a></li>
                    <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Rotalar </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- //about breadcrumb -->
    <!--  Work gallery section -->
    <section class="grids-1 py-5">
        <div class="grids py-lg-5 py-md-4">
            <div class="container">
                <h3 class="hny-title mb-5">Tur Rotalarımız</h3>
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-4 col-md-4 col-6 mt-md-0 mt-4">
                            <div class="column">
                                <a asp-route-id="@item.DestinationID" asp-action="DestinationDetails" asp-controller="Destination"><img src="@item.Image" alt="" class="img-fluid"></a>
                                <div class="info">
                                    <h4><a asp-route-id="@item.DestinationID" asp-action="DestinationDetails" asp-controller="Destination">@item.City</a></h4>
                                    <p>@item.Capasity </p>
                                    <div class="dst-btm">
                                        <h6 class="">Başlayan Fiyatlarla </h6>
                                        <span>$ @item.Price</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </div>
    </section>
    <link rel="stylesheet" href="~/Traversal-Starter2/Traversal-Liberty/assets/css/style-liberty.css">
    <script src="~/Traversal-Starter2/Traversal-Liberty/assets/js/bootstrap.min.js"></script>
    <!--/w3l-footer-29-main-->
    @await Component.InvokeAsync("FooterPartial")

    <!-- Template JavaScript -->
    @await Component.InvokeAsync("ScriptPartial")
</body>

</html>